{% extends 'base.html' %}
{% block base %}
<div class="container-fluid align-items-center justify-content-center justify-content-evenly text-center h1">contact us</div>
<body>
<p style="text-align:center;">      Have a question?</p>
<p style="text-align:center;">      Get in touch with the team at WOODENIA and we will be happy to help with your questions,</p>
<p style="text-align:center;">      order updates or large order enquiries.</p>
<p style="text-align:center;">      Email us at info@WOODENIA.co.eg or call us on 19990 </p>
<body>
{% endblock base %}