{% extends 'base.html' %}
{% load static %}

{% block base %}



    </div>
  </div>
  {% comment %} ------ {% endcomment %}
  <form method = "POST" id = "sign2" class="row g-3 mx-auto">
    {%csrf_token%}
    <div class="col-md-6">
        <label for="first" class="form-label">First name</label>
        <input type="text"  id = "first" class="form-control" placeholder="First Name" aria-label="First Name">
    </div>
    <div class="col-md-6">
        <label for="last" class="form-label">Last name</label>
        <input type="text" id = "last" class="form-control" placeholder="Last Name" aria-label="Last Name">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Giza</option>
        <option>Cairo</option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-secondary bg-dark">Sign Up</button>
    </div>
  </form>
{% endblock base %}