{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat"
      rel="stylesheet"
    />

  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/style.css' %}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'users/css/style.css' %}"
  />

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>
  <body>
    
    {% comment %} NavBar {% endcomment %}
    <div class="container-fluid border-0">
      <div id="navBar" class="container-fluid">
        <header
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-evenly py-3 mb-4 border-bottom"
        >
        <a class="navbar-brand mb-0 h1" href= {%url "store:home"%}>Woodenia</a>
          
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          ></button>
          
        
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% for key,value in keys.items %}
              <li class="nav-item">
                  <a
                  {% if value in keys %}
                  class="nav-link px-2 link-dark"
                  aria-current="page"
                  href="/{{value}}" >{{key}}
                  {% comment %} href= '#'>{{key}} {% endcomment %}
                  {% else %}
                  href= '#'>{{key}}
                  {% endif %}
                  </a>
              </li>
            {% endfor %}
          
            </ul>
    
          <div class="col-md-3 text-end">
          
            <a class="btn btn-secondary bg-dark" href="/login/" role="button">Login</a>
            <a class="btn btn-secondary bg-dark" href="/signup/" role="button">Sign Up</a>

          </div>
        </header>
      </div>
    </div>
   
    {% comment %} NavBar end {% endcomment %}


    {% block base %}

    {% endblock base%}

    <div class="container-fluid">
      <footer class="py-3 my-4">



        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted">Home</a>
          </li>
          {% for key,value in keys.items %}
            <li class="nav-item">
                <a
                {% if value in keys %}
                class="nav-link px-2 text-muted"
                {% if value not in path %}
                href="/{{value}}" >{{key}}
                {% else %}
                href= '#'>{{key}}
                {% endif %}
                {% comment %} href= '#'>{{key}} {% endcomment %}
                {% else %}
                class="nav-link"
                href= '#'>{{key}}
                {% endif %}
                </a>
              </li>
            {% endfor %}

        </ul>
        <p class="text-center text-muted">© 2022 Woodenia Company, Inc</p>
      </footer>
    </div>
  </body>
</html>
